body {
<<<<<<< HEAD
    background-color: rgb(0, 45, 0);
=======
    background-color: bisque;
>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
    /*background-image: url(https://raw.githubusercontent.com/ArtBerger88/MindysRepo/main/background2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;*/
    padding: 10px
}

.heading {
    background-image: url(https://raw.githubusercontent.com/ArtBerger88/MindysRepo/main/background2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    display:block;
    padding: 50px;
}

h1, h2 {
    color:white;
    font-size: 60px;
    text-align: center;
<<<<<<< HEAD
    text-shadow: 2px 2px 2px rgb(0, 255, 38);
}

h2 {
    padding-top: 50px;
=======
    text-shadow: 2px 2px 2px blue;
>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
}

/*.background_div {
    background-image: url(https://raw.githubusercontent.com/ArtBerger88/MindysRepo/main/background2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    padding: 50px;
}*/

.img_container {
    display:flex;
    justify-content: center;      
    align-items: center;          
    gap: 50px;                    
<<<<<<< HEAD
    padding: 70px;
=======
    padding: 20px;
>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
    flex-wrap: wrap;
}

.img_item {
    background-color:bisque;
    text-align: center;
    border-style: solid;
    border-width: 2ps 2px 2px 2px;
    border-color: black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.img_item p {
    margin-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font: 'Tahoma';
    font-size: 18px;
    color:black;
    text-shadow: 2px 2px 2px white;
}

.product_img {
    height: 150px;
    width: 150px;
    display: inline-block;
    border-radius: 90px;
}

<<<<<<< HEAD
.product_img:hover {
    transform: scale(1.50);
    border-style: solid;
    border-color: #00FF00;
}

=======
>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
.dropdown {
    text-align: center;
}

.drop {
    padding:0;
    margin:0;
    list-style: none;
}

#purchaseBtn {
    background-color: bisque;
}

#purchaseBtn:hover {
<<<<<<< HEAD
    background-color: pink;
=======
    background-color: violet;
>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
    border-style: solid;
    border-radius: 10px;
}

.drop > li {
    margin: 5px 0;
}

<<<<<<< HEAD
=======
.active {
    background-color: pink;
}    

>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
/*.dropdown li:hover {                        Only need for dropdowns
    background-color: pink;
    border-style: solid;
    border-radius: 10px;
}*/

.submenu {
    display: none;
    list-style: none;
    margin-top: 5px;
    padding-left: 0px;
}

/*.dropdown li:hover .submenu                  Only need for dropdowns
}*/

.listlink {
    margin: 5px 0;
}

a:hover {
<<<<<<< HEAD
    color: black
}

.message {
    text-align: center;
    font-size: 25px;
    color: black;
    animation: colorChange 3s infinite;
=======
    color: white;
}

.sizeNcolor {
    text-align: center;
    font-size: 25px;
    color: black;
>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
}

.background_div2 {
    background-image: url(https://raw.githubusercontent.com/ArtBerger88/MindysRepo/main/background3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    padding: 50px;
}

.contact_us {
    color:white;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px blue;
}

.contact_info {
    color:white;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px blue;
}

.tele,.email, .fb {
    color:white;
}

.tele:hover, .email:hover, .fb:hover {
    color:blue;
}
<<<<<<< HEAD

@keyframes colorChange {
  0% { color: #002D00; }
  25% { color: #00FF00; }
  50% { color: #002D00; }
  75% { color: #00FF00; }
  100% { color: #002D00; }
}
=======
>>>>>>> 335fa88b9a4ee9e88b44dd8681681913e123fd12
